@use '../../styles/variables.scss'  as *;

.popup {
  position: absolute;
  top: 50%;
  left: calc(50% - 325px);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.blur {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, 0.25);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  svg {
    color: $primary-color;
    transition: 0.3s, 0.3s fill;
  }
  &:hover {
    svg {
      transform: translateY(-5px);
      color: red;
    }
  }
}

.day {
  .dayTemp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin-bottom: 12px;
  }
  .dayName {
    font-size: 25px;
    line-height: 30px;
    color: var(#{--text-color-default});
    margin-bottom: 12px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
    }
    margin-bottom: 12px;
  }

  .dayTime, .dayCity {
    font-size: 15px;
    color: $base-color
  }

}