@use '../../../../styles/variables.scss'  as *;

.thisDayInfo {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.imageBlock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 460px;
  height: 240px;
  object-fit: cover;
  right: 0;
  opacity: 0.2;
  pointer-events: none;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .indicator,
  .indicatorName {
    margin-right: 20px;
  }

  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 1px 4px 10px -1px #4793FF33;
    border-radius: 50%;
  }
}

.indicatorName,
.indicatorValue {
  font-size: 14px;
}

.indicatorName {
  color: $base-color;
}

.indicatorValue {
  color: var(#{--text-color-default});
}